# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\杨宸楷\学习\java-learning\JavaWeb\9&10. 请求响应&JSP&会话技术\9.请求相应\代码\request-demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
